<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Coding Challenge</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        @Html.ActionLink("Coding Challenge - Marco Rodriguez", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
      </div>
    </div>
  </div>
  <div class="container body-content">
    <app-root></app-root>
    @RenderBody()
  </div>

  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
  @Scripts.Render("~/dist/coding-challenge/runtime.js")
  @Scripts.Render("~/dist/coding-challenge/polyfills.js")
  @Scripts.Render("~/dist/coding-challenge/styles.js")
  @Scripts.Render("~/dist/coding-challenge/vendor.js")
  @Scripts.Render("~/dist/coding-challenge/main.js")
  @RenderSection("scripts", required: false)
</body>
</html>
